.messenger-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 100%;
}

.content {
	overflow: hidden;
	max-height: inherit;
	grid-column-start: 2;
	grid-column-end: 5;
}

.exit {
	position: absolute;
	transform: translateX(92em) translateY(1.5em);
}