.messenger-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.content {
	overflow: hidden;
	max-height: inherit;
	flex-grow: 1;
}

.exit {
	position: absolute;
	transform: translateX(92em) translateY(1.5em);
}