
.input-form-container {
	display: flex;
	align-items: center;
	grid-row: 10/11;
	grid-column: 1/5;

	label {
		font-size: 2.5rem;
		margin: 0em .3em;
		&:hover {
			cursor: pointer;
		}
	}
}

.message-input {
	border: none;
	outline: none;
	height: 2em;
	font-size: 1.5rem;
	flex-grow: 1;
}

.image-upload {
	width: 9em;
}

input::file-selector-button {
	opacity: 0;
	z-index: -1;
	position: absolute;
}
