.input-container {
	form {
		display: flex;
		direction: column;
		align-items: center;
	}

	label {
		font-size: 2.5rem;
		margin: 0em .3em;
		&:hover{
			cursor: pointer;
		}
	}
	
}

.message-box {
	width: 100%;
	border: none;
	outline: none;
	height: 4em;
	font-size: 1.5rem;
}

.image-upload {
	width: 9em;
}

input::file-selector-button{
	opacity: 0;
	z-index: -1;
	position: absolute;
}

//if u don't have to nest then don't