.tabs-container {
	display: flex;
	justify-content: space-between;
	height: 4.35em;
}

@media screen and (max-width: 1000px) {
	.tabs-container {
		display: flex;
		flex-direction: column;
		flex-basis: 40%;
	}
}