.button-container {
	border: none;
	margin: 0em .5em;
	
	&.default{
		background-color: #041C32;
		border-radius: 1em;
		width: 15em;
		color: white;
		height: 2em;
		font-size: 1rem;
	}

	&.rounded{
		background-color: #E0F4FF;
		border-radius: 50%;
		font-size: 2rem;
		width: 1.5em;
		height: 1.5em;
		padding: .3em 0em;

	}

	&.invisible {
		background-color: transparent;
		font-size: 1.5rem;
		color: white;
	}

	&.chat {
		background-color: transparent;
		width: 1em;
		font-size: 2.5rem;
	}

	&:hover {
		cursor: pointer;
	}
}
