.members-sidebar-container {
	grid-row: 2/11;
	padding: 1em 1em;
	border-left: solid rgb(180, 180, 180) .05em;

	img {
		width: 30%;
		height: 30%;
		border-radius: 50%;
	}

	h2 {
		margin: 0;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.member-details {
	display: flex;
	margin-top: 1em;
	p {
		margin-left: 1em;
	}
}
