.sign-in-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 25em;
	height: 15em;
	border-radius: 1em;
	border: .05em solid rgb(199, 198, 198);
	margin: auto;

	h2 {
		font-size: 1.7rem;
		margin: 0em 0em 1em 0em;
	}
}