.sidebar-group-container {
	padding: 1em 1em;
	overflow: hidden;

	&:hover {
		background-color: #ffffff;
		cursor: pointer;
		color: black;
	}

	&.selected {
		background-color: #ffffff;
		color: black;
	}

	h2, p {
		margin: 0;
	}
}

.message-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
