.chat-header {
	input {
		font-size: x-large;
		width: 70%;
	}
	
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 6;

	h1 {
		white-space: nowrap;
		overflow: hidden;
  	text-overflow: ellipsis;
	}
}

