.create-chat-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	header {
		margin-bottom: 1em;
	}

	label {
		font-weight: bold;
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: .83em;
    margin: 0.83em 0;
		align-items: center;
	}
}
