.sidebar-container {
	width: 23.5em;
	overflow: auto;
	background-color: #041C32;
	color: white;
	display: flex;
	flex-direction: column;

	Button{
		margin: .3em;
	}
}

.new-conversation{
	display: flex;


	&:hover{
		background-color: white;
		color: black;
		cursor: pointer;	

		Button{
			color: white;
			background-color: black;
		}
	}


}