#root {
	height: 100%;
	width: 100%;
  margin: auto;
}

header {
	height: 4.35em;
	padding: 0 1em;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	z-index: 0;
	background-color: #041C32;
	color: white;
}
