:root {
  font-family: 'Roboto', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html {
  margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

