.sidebar-tab-container {
	width: 34%;
	text-align: center;
	position: relative;
	
	&:hover, &.selected {
		background-color: #ffffff;
		color: black;
	}
}

@media screen and (max-width: 1000px) {
	.sidebar-tab-container {
		width: 100%;
	}
}
