.sidebar-tab-container{
	width: 34%;
	height: 100%;
	text-align: center;
	&:hover{
		background-color: #ffffff;
		cursor: pointer;
		color: black;
	}

	&.selected{
		background-color: #ffffff;
		color: black;
	}
}