.message-container {
	display: flex;

	&.sent {
		flex-direction: row-reverse;

		.sender {
			color: transparent;
		}
	}
}

.message-content {
	max-width: 30em;
	min-width: 0;
	
	.message-body {
		overflow-wrap: break-word;
		background-color: #E0F4FF;
		border-radius: 1em;
		padding: 1em;
		box-shadow: 0em .1em .3em rgb(179, 179, 179);
		display: flex;
		flex-direction: column;

		.timestamp {
			color: grey;
			margin: 0;
		}

		p, img {
			margin: 0 0 1em 0;
		}
		
	}

	.sender {
		margin-bottom: 0em;
	}
}

